@using CozaStore.Application.DTOs
@{
    ViewData["Title"] = ViewData["Title"] ?? "Product Detail";
    ViewData["ActiveMenu"] = "Shop";
    ViewData["HeaderClass"] = "header-v4";
    ViewData["MenuShadow"] = "yes";

    var product = ViewData["Product"] as ProductDto;

    if (product == null)
    {
        <div class="container m-t-50">
            <div class="alert alert-danger">
                Ürün bulunamadı.
            </div>
        </div>
        return;
    }
}

<!-- Breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a asp-controller="Home" asp-action="Index" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a asp-controller="Shop" asp-action="Index" class="stext-109 cl8 hov-cl1 trans-04">
            Shop
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            @product.Name
        </span>
    </div>
</div>

<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="@(product.ImageUrl ?? "/images/product-01.jpg")">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="@(product.ImageUrl ?? "/images/product-01.jpg")" alt="@product.Name">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@(product.ImageUrl ?? "/images/product-01.jpg")">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        @product.Name
                    </h4>

                    <span class="mtext-106 cl2">
                        @PriceHelper.FormatAsDollar(product.Price)
                    </span>

                    @if (!string.IsNullOrEmpty(product.Description))
                    {
                        <p class="stext-102 cl3 p-t-23">
                            @product.Description
                        </p>
                    }

                    <!-- Size, Color, Quantity, Add to Cart -->
                    <div class="p-t-33">
                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-203 flex-c-m respon6">
                                Size
                            </div>

                            <div class="size-204 respon6-next">
                                <div class="rs1-select2 bor8 bg0">
                                    <select class="js-select2" name="size">
                                        <option>Choose an option</option>
                                        <option>Size S</option>
                                        <option>Size M</option>
                                        <option>Size L</option>
                                        <option>Size XL</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-203 flex-c-m respon6">
                                Color
                            </div>

                            <div class="size-204 respon6-next">
                                <div class="rs1-select2 bor8 bg0">
                                    <select class="js-select2" name="color">
                                        <option>Choose an option</option>
                                        <option>Red</option>
                                        <option>Blue</option>
                                        <option>White</option>
                                        <option>Grey</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 flex-w flex-m respon6-next">
                                <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                    </div>

                                    <input class="mtext-104 cl3 txt-center num-product" type="number" name="quantity" value="1" min="1" max="@product.Stock">

                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                    </div>
                                </div>

                                <form id="addToCartForm" asp-controller="Cart" asp-action="Add" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="productId" value="@product.Id" />
                                    <input type="hidden" name="quantity" id="cartQuantity" value="1" />
                                    <button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                        Add to cart
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Wishlist -->
                    <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                        <div class="flex-m bor9 p-r-10 m-r-11">
                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                <i class="zmdi zmdi-favorite"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabs: Description, Additional Information, Reviews -->
        <div class="bor10 m-t-50 p-t-43 p-b-40">
            <div class="tab01">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item p-b-10">
                        <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
                    </li>
                </ul>

                <div class="tab-content p-t-43">
                    <!-- Description Tab -->
                    <div class="tab-pane fade show active" id="description" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <p class="stext-102 cl6">
                                @(string.IsNullOrEmpty(product.Description) ? "No description available." : product.Description)
                            </p>
                        </div>
                    </div>

                    <!-- Additional Information Tab -->
                    <div class="tab-pane fade" id="information" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                <ul class="p-lr-28 p-lr-15-sm">
                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Stock
                                        </span>
                                        <span class="stext-102 cl6 size-206">
                                            @product.Stock units
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Category
                                        </span>
                                        <span class="stext-102 cl6 size-206">
                                            @(product.CategoryName ?? "N/A")
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Product ID
                                        </span>
                                        <span class="stext-102 cl6 size-206">
                                            @product.Id
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Reviews Tab -->
                    <div class="tab-pane fade" id="reviews" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                <div class="p-b-30 m-lr-15-sm">
                                    <p class="stext-102 cl6">
                                        No reviews yet. Be the first to review this product!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
        <span class="stext-107 cl6 p-lr-25">
            SKU: @product.Id.ToString().Substring(0, 8).ToUpper()
        </span>

        <span class="stext-107 cl6 p-lr-25">
            Categories: @(product.CategoryName ?? "General")
        </span>
    </div>
</section>

@section Scripts {
    <script src="~/js/product-detail.js"></script>
    <script>
        // Quantity değiştiğinde hidden input'u güncelle
        document.addEventListener('DOMContentLoaded', function() {
            const quantityInput = document.querySelector('.num-product');
            const hiddenQuantity = document.getElementById('cartQuantity');
            
            // Input değiştiğinde
            if (quantityInput) {
                quantityInput.addEventListener('input', function() {
                    if (hiddenQuantity) {
                        hiddenQuantity.value = this.value;
                    }
                });
                
                // Plus/Minus butonları için (main.js'teki event'lerden sonra çalışacak)
                const btnUp = document.querySelector('.btn-num-product-up');
                const btnDown = document.querySelector('.btn-num-product-down');
                
                if (btnUp) {
                    btnUp.addEventListener('click', function() {
                        setTimeout(function() {
                            hiddenQuantity.value = quantityInput.value;
                        }, 10);
                    });
                }
                
                if (btnDown) {
                    btnDown.addEventListener('click', function() {
                        setTimeout(function() {
                            hiddenQuantity.value = quantityInput.value;
                        }, 10);
                    });
                }
            }
        });
    </script>
}